<div class="container-fluid">
    <div class="row">
        <div style="padding-left: 20px; padding-top: 20px;" class="col">
            <img  src="./assets/images/a-new-hope.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">The Mandalorian</div>
        </div>
        <div style="padding-top: 20px;" class="col">
            <input class="form-control" id="myInput" type="text" placeholder="Buscar pelicula nombre o por año">
        </div>
        <div style="padding-top: 20px;padding-right:20px;" class="col">
            <img src="./assets/images/attack-of-the-clones.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">Resistencia</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="./assets/images/return-of-the-jedi.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">Una nueva esperanza</div>
        </div>
        <div class="col">

        </div>
        <div class="col">
            <img src="./assets/images/revance-of-the-sith.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">Fuerzas del destino</div>
        </div>
    </div>
    <div class="row">
        <div style="padding-bottom: 10px;padding-left:20px;" class="col">
            <img src="./assets/images/the-empires-strikes-back.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">La guerra de los clones</div>
        </div>
        <div class="col">
            <img src="./assets/images/the-phantonm-amenace.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">Las cronicas de yoda</div>
        </div>
        <div class="col">
            <img src="./assets/images/the-force-awakens.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">El retorno del jedi</div>
        </div>
    </div>
</div>
